// Fonts
$cursive_font : "Hijrnotes", sans-serif;
$main_font : "Quicksand", sans-serif;
$bold_font : bold;
$italic_font : italic;
$normal_font : normal;
$light_font : 300;

// Colors
$cyan:#e8eeed;
$blue: #c0e1db;
$red: #e20815;
$gray: #adadad;
$black: #000000;
$white: #FFFFFF;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
$desktopXXL: 1800px;