@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Cuerpo - esqueleto de la pestaña */

.main-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        display: block;
    }
}

/* Parte de "quienes somos" */

.quienes_somos {
    background-color: v.$cyan;
    margin: 3rem 0 5rem 4.5rem;
    width: 70%;
    border-radius: 5rem;
    padding: 2rem;

    @include m.tablet {
        margin: 3rem 0 5rem 10rem;
    }

    h2 {
        margin: 0;
        font-size: 4rem;
        
    }

    p {
        font-size: 1.5rem;
        margin: 2rem 0 0 0;
    }
}

/* Parte de "mision" */

.mision {
    display: flex;
    align-items: center;

    .redes_sociales {
        margin-bottom: 30rem;
    }

    .logo-about_us {
        display: none;
        margin: 0;
        
        @include m.tablet {
            display: block;
            margin-left: 13rem;    
        }
    }

    .mision-description {
        margin: 0 0 0 7rem;
        background-color: v.$cyan;
        width: 70%;
        border-radius: 5rem;
        padding: 2rem;

        @include m.tablet {
            margin: 0 2rem 0 10rem;

        }

        @include m.desktop {

        }

        h2 {
            margin: 0;
            font-size: 4rem;
        }
    
        p {
            font-size: 1.5rem;
            margin: 2rem 0 0 0;
        }
    }
}

/* Parte de "valores" */

.valores {
    background-color: v.$cyan;
    margin: 5rem 0 5rem 4.5rem;
    width: 70%;
    border-radius: 5rem;
    padding: 2rem;

    @include m.tablet {
        margin: 5rem 0 5rem 10rem;
    }

    @include m.desktop {
        margin: 5rem 0 5rem 25rem;
    }

    h2 {
        margin: 0;
        font-size: 4rem;
    }

    p {
        font-size: 1.5rem;
        margin: 2rem 0 0 0;
    }
}