@use 'base/variables' as v;
@use 'base/mixins' as m;

.main-fajas {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.semi_desktop {
        display: block;
    }

    .redes_sociales {
        position: fixed;

        @include m.semi_desktop {
            margin-top: 5rem;
        }
    }

    .linea {
        margin: 10rem 0 0 0;
        width: 43%;
        height: 0.5rem;
        background-color: v.$blue;

        @include m.semi_desktop {
            margin: 10rem 0 0 15rem ;
        }
    }

    .fajas-d-i {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;

        @include m.semi_desktop {
            flex-direction: row;
        }
        
        .fajas-d {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 2rem 0 2rem;
            text-align: center;

            @include m.semi_desktop {
                width: 50rem;
                text-align: left;
                margin-left: 2rem;
            }

            @include m.desktop {
                width: 60rem;
                margin-left: 10rem;
                padding: 0;
            }

            @include m.desktopXL {
                margin-left: 15rem;
            }
            
            h1 {
                margin: 0;
                font-size: 4rem;
                text-transform: uppercase;
                font-style: v.$italic_font;
            }

            p {
                margin: 2rem 0 0 0;
                font-size: 1.5rem;
                line-height: 1;
            }
        }

        .fajas-i {
            border-radius: 5rem;
            width: 25rem;
            height: 25rem;
            background-color: v.$blue;

            @include m.semi_desktop {
                width: 40rem;
                height: 40rem;
            }
        }
    }

    .fajas-many_images {
        display: flex;
        gap: 5rem;
        margin: 5rem 0 0 0;
        padding: 0 1rem 0 1rem;
        justify-content: center;
        width: 95%;

        @include m.desktop {
            justify-content: flex-end;
            margin: 5rem 15rem 0 0;
            padding: 0;
            width: auto;
        }

        .img-f-1,
        .img-f-2,
        .img-f-3 {
            width: 100%;
            height: 10rem;
            background-color: v.$blue;
            border-radius: 2rem;

            @include m.phone {
                height: 20rem;
            }

            @include m.semi_desktop {
                width: 25rem;
                height: 20rem;
                padding: 0;
            }
        }
    }
}