@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Esqueleto de la pagina */

.main-fajas {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        display: block;
    }

    /* Apartado redes sociales */

    .redes_sociales {
        position: fixed;

        @include m.tablet {
            margin-top: 5rem;
        }
    }

    .linea {
        display: flex;
        margin: 10rem 0 0 0;
        width: 43%;
        height: 0.5rem;
        background-color: v.$blue;

        @include m.tablet {
            margin: 2rem 0 0 15rem;
        }
    }

    /* Caja de la descripcion e imagen grande */

    .fajas-d-i {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
        }
        
        /* Descripcion */

        .fajas-d {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 0 2rem 0 2rem;
            text-align: center;

            @include m.tablet {
                width: 50rem;
                text-align: left;
                margin-left: 5rem;
            }

            @include m.semi_desktop {
                margin-left: 2rem;

            }

            @include m.desktop {
                width: 60rem;
                margin-left: 10rem;
                padding: 0;
            }

            @include m.desktopXL {
                margin-left: 15rem;
            }

            p {
                margin: 2rem 0 0 0;
                line-height: 1;

                span {
                    font-weight: v.$bold_font;
                }
            }
        }

        /* Imagen grande */

        .fajas-i {
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            border-radius: 25rem;
            width: 25rem;
            height: 25rem;
            background-color: v.$blue;
            display: flex;
            align-items: center;
            justify-content: center;
            

            @include m.semi_desktop {
                margin-top: 2rem;
                width: 40rem;
                height: 40rem;
                
            }

            img {
                width: 15rem;
                height: 22rem;

                @include m.semi_desktop {
                    width: 20rem;
                    height: 35rem;
                }
            }
        }
    }

    /* Caja de las demas imagenes en la parte inferior */

    .fajas-many_images {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin: 5rem 0 0 0;
        padding: 0 1rem 0 1rem;
        justify-content: center;
        align-items: center;
        width: 95%;

        @include m.tablet {
            margin: 0 0 0 0;
            flex-direction: row;
            align-items: normal;
        }

        @include m.desktop {
            justify-content: center;
            margin: 0 0 0 0;
            padding: 0;
            width: auto;
        }

        /* Ajustes a las imagenes como tal */

        .img-f-1,
        .img-f-2,
        .img-f-3, 
        .img-f-4, 
        .img-f-5 {
            transition: transform .3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
            width: 30rem;
            height: 30rem;
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            border-radius: 2rem;
            border: .5rem solid v.$blue;

            @include m.tablet {
                border: none;
                width: 50rem;
                height: 20rem;
                padding: 0;
            }

            @include m.desktop {
                width: 40rem;
                height: 50rem;
            }
        }

        /* Ajustes mas individuales a las imagenes */

        .img-f-3,
        .img-f-5 {
            width: 30rem;
            
            @include m.tablet {
            width: 50rem;
            }
        }

        .img-f-1 {
            background-image: url(../../../src/img/fajas/portada_faja_2.png);
        }

        .img-f-2 {
            background-image: url(../../../src/img/fajas/portada_faja_3.png);
        }

        .img-f-3 {
            background-image: url(../../../src/img/fajas/portada_faja_4.png);
        }

        .img-f-4 {
            background-image: url(../../../src/img/fajas/portada_faja_5.png);
        }

        .img-f-5 {
            background-image: url(../../../src/img/fajas/portada_faja_6.png);
        }
    }
}