@use 'base/variables' as v;
@use 'base/mixins' as m;

.titulo-faja {
    margin: 15rem 0 0 0;
    font-size: 4rem;
    text-align: center;

    @include m.desktop {
        margin: 30rem 0 0 0;
    }
}

.faja-muestra {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 0rem;

    @include m.desktop {
        @include m.grid(3);
        margin-top: 2rem;
    }

    .descripcion-faja {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
        align-items: center;

        @include m.desktop {
            margin-bottom: 30rem;
        }

        p {
            width: 60%;
            margin: 0;
            font-size: 1.5rem;
            line-height: 1.5;

            @include m.desktop {
                width: 20rem;
                margin-left: 1.5rem;
            }

            @include m.desktopXL {
                margin-left: 0;
            }
        }

        .color-faja {
            display: flex;
            margin-top: 5rem;
            gap: 1rem;
            
            p {
                width: min-content;
                margin: 0 1rem 0 0;
            }

            .color{
                width: 3rem;
                height: 3rem;
                border-radius: 2rem;

                &[data-color="negro"] {
                    background-color: v.$black;
                }

                &[data-color="blanco"]{
                    background-color: v.$white;
                    border: .1rem solid v.$black;
                }

                &[data-color="marron"]{
                    background-color: v.$light_brown;
                }
            }
        }
    }

    .informacion-faja {
        display: flex;
        flex-direction: column;
        align-items: center;

        .imagen-faja {
            width: 30rem;
            height: 40rem;
            background-color: v.$blue;
            border-radius: 2rem;

            @include m.desktop {
                width: 40rem;
                height: 60rem;
            }
        }

        .caracteristicas-faja {

            h3 {
                margin: 2rem 0 0 0;
                font-size: 2rem;
                font-style: v.$normal_font;
                text-align: start;

                @include m.desktop{
                    margin: 2rem 0 0 5rem;
                }
            }

            p {
                margin: 2rem 0 0 0;
                width: 100%;
                line-height: 1;
                font-size: 1.5rem;

                @include m.desktop {
                    margin: 2rem 40rem 0 0;
                }

                span {
                    font-weight: v.$bold_font;
                }
            }
        }
    }

    .eleccion-faja {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;

        @include m.desktop {
            margin-right: 3rem;
            margin-top: 0;
        }
        

        .info-rapida {
            font-size: 1.5rem;
            width: 100%;
            margin: 0;
            line-height: 1;
            font-weight: v.$bold_font;
            padding: 0 1rem 0 1rem;
            text-align: center;

            @include m.desktop {
                width: 25rem;
                padding: 0;
                text-align: left;
            }
        }

        .tamano-faja {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            @include m.desktop{
                margin-top: 0;
            }

            p {
                font-size: 1.5rem;
                width: 100%;
            }

            .tallas {
                margin-left: 3rem;
                margin-right: .5rem;
            }

            .talla {
                margin: 0 0 0 .5rem;
                border: .1rem solid v.$blue;
                padding: 1rem 1rem 1rem 1rem;
                text-align: center;
            }
        }

        .color.selected,
        .talla.selected {
            border: 2px solid v.$red; /* Puedes cambiar el color del borde al ser seleccionado */
        }


        .precio-faja {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 0;
                color: v.$bold_blue;
                font-weight: v.$bold_font;
                font-size: 2.5rem;
            }

            .comprar-faja {
                margin-top: 1rem;
                color: v.$white;
                font-size: 2rem;
                background-color: v.$bold_blue;
                padding: .5rem 8rem .5rem 8rem;
            }
        }

        .imagen-secundaria-faja {
            margin: 2rem;
            width: 35rem;
            height: 39rem;
            background-color: v.$blue;
            border-radius: 4rem;
        }

        .beneficios-faja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h3 {
                font-style: v.$normal_font;
                font-size: 2.5rem;
                font-weight: v.$bold_font;
                margin: 0;
            }

            p {
                font-size: 1.5rem;
                padding: 0 1rem 0 1rem;

                @include m.tablet {
                    width: 80%;
                }

                @include m.desktop {
                    padding: 0;
                }
            }
        }
    }
}