@use 'base/variables' as v;
@use 'base/mixins' as m;

.titulo-faja {
    text-transform: uppercase;
    margin: 15rem 0 0 0;
    font-size: 4rem;
    text-align: center;

    @include m.desktop {
        margin: 3rem 0 0 0;
    }
}

.faja-muestra {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    gap: 0rem;

    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 35% 65%);
        margin-top: 2rem;
    }

    .primera_columna-faja {
        display: flex;
        flex-direction: column;
        align-items: center;

        .descripcion-faja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 5rem;
            align-items: center;
    
            @include m.desktop {
                margin-bottom: 5rem;
            }
    
            p {
                text-align: center;
                width: 60%;
                margin: 0;
                line-height: 1.5;
    
                @include m.desktop {
                    text-align: justify;
                    width: 60%;
                    margin-left: 1.5rem;
                }
    
                @include m.desktopXL {
                    margin-left: 0;
                }
            }
        }

        .color-faja {
            display: flex;
            margin-top: 5rem;
            gap: 1rem;
            
            p {
                width: min-content;
                margin: 0 1rem 0 0;
            }

            .color{
                width: 3rem;
                height: 3rem;
                border-radius: 2rem;
                cursor: pointer;

                &[data-color="negro"] {
                    background-color: v.$black;
                }

                &[data-color="blanco"]{
                    background-color: v.$white;
                    border: .1rem solid v.$black;
                }

                &[data-color="marron"]{
                    background-color: v.$light_brown;
                }
            }
        }

        .info-rapida {
            font-size: 2rem;
            width: 100%;
            margin: 5rem 0 0 0;
            line-height: 1;
            padding: 0 1rem 0 1rem;
            text-align: center;

            @include m.desktop {
                width: 60%;
                padding: 0;
                text-align: center;
            }
        }

        .tamano-faja {
            display: flex;
            align-items: center;
            margin-top: 2rem;

            @include m.desktop{
                margin-top: 3rem;
            }

            p {
                font-size: 1.5rem;
                width: 100%;
            }

            .tallas {
                margin-left: 3rem;
                margin-right: .5rem;
            }

            .talla {
                margin: 0 0 0 .5rem;
                border: .1rem solid v.$blue;
                padding: 1rem 1rem 1rem 1rem;
                text-align: center;
            }
        }

        .precio-faja {
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                margin: 0;
                color: v.$bold_blue;
                font-weight: v.$bold_font;
                font-size: 2.5rem;
            }

            .comprar-faja {
                margin-top: 1rem;
                color: v.$white;
                font-size: 2rem;
                background-color: v.$bold_blue;
                padding: .5rem 8rem .5rem 8rem;
            }
        }

        .color.selected {
            border: 2px solid v.$red; /* Puedes cambiar el color del borde al ser seleccionado */
        }
    }

    .segunda_columna-faja {
        display: flex;
        flex-direction: column;

        .imagenes-faja {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include m.tablet {
                align-items: flex-start;
                flex-direction: row;
                justify-content: center;
            }

            @include m.desktop {
                justify-content: flex-start;
            }
            
            .img-1,
            .img-2,
            .img-3 {
                width: 30rem;
                height: 50rem;
                background-repeat: no-repeat;

                @include m.tablet {
                    width: 23rem;
                    height: 40rem;
                }

                @include m.semi_desktop {
                    width: 30rem;
                    height: 50rem;
                }
            }

            .img-1,
            .img-2 {
                background-position: center bottom;
            }

            .img-1 {
                background-size: 98% 90%;
            }

            .img-2 {
                background-size: 80% 85%;
            }

            .img-3 {
                background-position: center bottom;
                background-size: 72% 75%;

                @include m.desktop {
                    background-position: left bottom;
                }
            }

            .menor_tamano_1 {
                background-size: 88% 100%;
            }

            .menor_tamano_2 {
                background-size: 85% 90%;
            }

            .menor_tamano_3 {
                background-size: 62% 75%;
            }
        }

        .linea {
            margin: 10rem 0 0 0;
            width: 100%;
            height: 1rem;
            background-color: v.$bold_blue;
    
            @include m.semi_desktop {
                margin: 0 0 0 0;
            }
        }
    }

    .informacion-faja {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            align-items: flex-start;
            flex-direction: row;
            justify-content: center;
        }

        .caracteristicas-faja {

            h3 {
                margin: 2rem 0 0 0;
                font-size: 2rem;
                font-style: v.$normal_font;
                text-align: center;

                @include m.tablet {
                    text-align: start;
                    margin: 2rem 0 0 5rem;
                }

                @include m.desktop{
                    margin: 2rem 0 0 0;
                }
            }

            p {
                text-align: center;
                margin: 2rem 0 0 0;
                width: 100%;
                line-height: 1;

                @include m.tablet {
                    text-align: start;
                    margin: 2rem 0 0 5rem;
                }

                @include m.desktop {
                    margin: 2rem 0 0 0;
                    width: 30rem;
                }

                span {
                    font-weight: v.$bold_font;
                }
            }
        }

        .beneficios-faja {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            h3 {
                font-style: v.$normal_font;
                font-size: 2.5rem;
                font-weight: v.$bold_font;
                margin-top: 5rem;

                @include m.tablet {
                    margin: 2rem 0 0 0;
                }
            }

            p {
                text-align: center;
                padding: 0 1rem 0 1rem;

                @include m.tablet {
                    width: 80%;
                }

                @include m.desktop {
                    text-align: start;
                    padding: 0;
                }
            }
        }
    }
}