@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Header de las paginas */

.header {
    background-color: v.$cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include m.semi_desktop {
        flex-direction: row;
    }

    picture {
        margin: 1rem 0 0 0;

        @include m.semi_desktop {
            margin: 1rem 0 0 4rem;
        }

        img {
            height: 10rem;
        }
    }

    /* Navegador */

    .nav {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        background-color: v.$blue;
        height: 100%;
        width: 95%;
        padding: 2rem 6rem 2rem 5rem;
        border-radius: 1.7rem;
        box-shadow: 9px 9px 5px 1px rgba(48, 48, 48, 0.75);
        -webkit-box-shadow: 9px 9px 5px 1px rgba(48, 48, 48, 0.75);
        -moz-box-shadow: 9px 9px 5px 1px rgba(48, 48, 48, 0.75);

        @include m.semi_desktop {
            flex-direction: row;
            height: 5rem;
            margin-left: 2.5rem;
            width: 70%;
            gap: 0;
        }

        p {
            display: none;
            margin: 0;
            padding: 0 1rem 0 1rem;
            font-weight: v.$light_font;

            @include m.semi_desktop {
                display: block;
            }
        }

        li {
            @include m.list-reset;

            a {
                font-size: 2.2rem;
                font-weight: v.$light_font;
                color: v.$black;

                @include m.desktop {
                    font-size: 1.9rem;
                }

                @include m.desktopXL {
                    font-size: 2.2rem;
                }

                &:hover {
                    color: v.$red;
                }

                &.active {
                    color: v.$red;
                }
            }
        }

        /* Estilos para el dropdown */

        .dropdown {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                font-size: 2rem;
                font-weight: v.$light_font;
                color: v.$black;

                &:hover {
                    color: v.$red;
                }

                &.active {
                    color: v.$red;
                }
            }

            // Estilo hover para pantallas de escritorio
            @include m.desktop {
                &:hover .dropdown-menu {
                    display: block;
                }
            }

            // Estilo para dropdown en dispositivos móviles y cuando está en estado "open"
            .dropdown-menu {
                width: 30rem;
                margin-top: 0.1rem;
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: v.$blue;
                padding: 1rem;

                &.open {
                    display: block;
                }

                @include m.desktop {
                    display: none;
                }

                li {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include m.desktop {
                        padding: 0rem 0;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        font-size: 2rem;
                        color: v.$black;
                        text-decoration: none;
                        width: 50rem;

                        @include m.desktop {
                            font-size: 1.9rem;
                        }

                        @include m.desktopXL {
                            font-size: 2rem;
                        }

                        &.more_height {
                            height: 7rem;
                        }

                        &:hover {
                            color: v.$red;
                        }
                    }
                }
            }
        }
    }
}
