@use 'base/variables' as v;
@use 'base/mixins' as m;

h3{
    margin: 6rem 30rem 1rem 0;
    // font-family: v.$cursive_font;
    font-weight: v.$normal_font;
    font-style: v.$italic_font;
}

.carrusel_imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50rem;
    background-color: rgba($color: v.$blue, $alpha: .5);

    h4 {
        font-size: 3rem;
        margin-right: 30rem;
    }

}

.informacion_adicional {
    margin: 5rem 10rem 12rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-transform: uppercase;
        margin: 0 10rem 0 0;
        font-size: 3rem;
    }

    .linea {
        margin-top: 1rem;
        width: 60rem;
        height: 0.5rem;
        background-color: v.$blue;
    }

    h2 {
        font-size: 3rem;
        margin: 1rem 10rem 0 0;
        font-weight: v.$normal_font;
        span {
            font-weight: v.$light_font;
            font-style: v.$italic_font;
        }
    }
}

.foto_mujer {
    position: absolute;
    width: 63rem;
    height: 85rem;
    z-index: 1;
    right: -2rem;
    bottom: -12rem;
}