@use 'base/variables' as v;
@use 'base/mixins' as m;


/* Titulo al inicio de la pagina */

h3{
    margin: 6rem 0 0 0;
    font-weight: v.$normal_font;
    font-style: v.$italic_font;

    @include m.desktop {
        display: flex;
        justify-content: center;
        margin-right: 20rem;
    }
}

/* Seccion del carrusel */

.carrusel_imagenes {
    width: 100%;
    overflow: hidden; // Asegura que las imágenes fuera del slider no sean visibles
    position: relative;
    align-items: center;
    justify-content: center;
    height: 50rem;
    background-color: rgba($color: v.$blue, $alpha: .5);

    .carrusel {
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.5s ease-in-out; // Animación suave al cambiar de imagen
        font-size: 3rem;
        margin: 0;
        text-align: center;

        @include m.desktop{
            margin-right: 30rem;
            text-align: start;
        }

        .slider-section {
            width: 100%; // Cada imagen ocupa el 100% del contenedor visible
            flex: none; // Evitar que se ajuste automáticamente el tamaño
            height: 100%;
        }

        .slider-section img {
            width: 80%;
            height: 100%;
            object-fit: contain;
        }
    }

}

/* Informacion de la parte baja */

.informacion_adicional {
    margin: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.desktop {
        margin: 5rem 10rem 12rem 0;
    }

    h1{
        text-transform: uppercase;
        margin: 0;
        font-size: 3rem;

        @include m.desktop {
            margin: 0 10rem 0 0;
        }
    }

    .linea {
        margin-top: 1rem;
        width: 100%;
        height: 0.5rem;
        background-color: v.$blue;

        @include m.desktop {
            width: 60rem;
        }
    }

    h2 {
        font-size: 3rem;
        margin: 1rem 0 0 0;
        font-weight: v.$normal_font;

        span {
            font-weight: v.$light_font;
            font-style: v.$italic_font;
        }

        @include m.desktop {
            margin: 1rem 10rem 0 0;
        }
    }
}

/* Foto sobreposicionada de la mujer */

.foto_mujer {
    display: none;

    @include m.desktop {
        display: block;
        position: absolute;
        width: 63rem;
        height: 85rem;
        z-index: 1;
        right: -2rem;
        bottom: -12rem;
    }
}