@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Esqueleto de la pagina */

.main-micropigmentation {
    display: flex;
    flex-direction: column;

    @include m.tablet {
        
    }

    /* Configuracion para las lineas */

    .linea {
        margin: 7rem 0 0 11rem;
        width: 50%;
        height: 0.5rem;
        background-color: v.$blue;

        @include m.desktop {
            margin: 7rem 0 0 15rem;
        }
    }

    .derecha { /* Propiedad para la linea al lado derecho */
        margin-left: 11rem;

        @include m.tablet {
            margin-left: 50rem;
        }

        @include m.desktop {
            margin-left: 55rem;
        }
    }

    /* Configuracion para los textos */

    .micropigmentacion_d,
    .parpados_d,
    .cejas_d {

        width: 80%;
        margin-left: 6rem;
        text-align: center;

        @include m.tablet {
            margin-left: 5rem;
            width: 50%;
            text-align: left;
        }

        h3 {
            margin: 1rem 0 0 0;
            font-weight: v.$bold_font;
            text-transform: uppercase;

            @include m.tablet {
                font-size: 4rem;

                &::after {
                    content: "\A"; /* \A es un salto de línea */
                    white-space: pre; /* Asegura que el salto de línea se respete */
                }
            }
        }

        p {
            margin: 2rem 0 0 0;
        }
    }

    /* Configuracion para las imagenes */

    .micropigmentacion_i,
    .cejas_i,
    .parpados_i {
        margin-top: 2rem;
        margin-left: 6rem;
        width: 20rem;
        height: 20rem;
        background-color: v.$blue;
        border-radius: 20rem;

        @include m.tablet {
            margin-left: 0;
            margin-top: 0;
            width: 40rem;
            height: 40rem;
        }
    }

    /* Configuracion de cada fila */

    .primera-fila {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            margin-left: 10rem;
        }

        .micropigmentacion_d {
            margin-top: 1rem;
        }

        .redes_sociales {
            @include m.tablet {
                margin-top: 15rem;
            }
        }
    }

    .segunda-fila {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            margin-top: 0;
            flex-direction: row;
            justify-content: center;
        }
    }

    .tercera-fila {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            margin-top: 0;
            flex-direction: row;
            justify-content: center;
        }
    }
}

.parrafo-suelto {  
    p {
        text-align: center;
        margin: 3rem 1rem 5rem 7rem;

        @include m.desktop {
            text-align: right;
            margin: 3rem 25rem 5rem 0;
        }
    }
}